* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

body {
  background-image: url("/asssets/images/Japanese_Graphic_Design_ukiyoe_woodblock_prin.jpg");
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional - keeps background fixed while scrolling */
  /* You may need to set other background properties to fit your design */
}


.wrapper {
  display: grid;
  place-items: center;
  height: 100%;
}

header {
  text-align: center;
  padding: 20px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha (last) value */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  padding: 30px;
  text-align: center;
  margin-bottom: 140px;
}

textarea {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha (last) value */
}

button {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  line-height: 22px;
  margin: 16px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

/* Add a hover effect to the Generate Password and Copy Password buttons */
button#generate:hover, button#copy:hover {
  background-color: #0056b3; /* Change the background color on hover */
  color: hsl(0, 0%, 100%); /* Change the text color on hover */
}

/* Style the modal for password options */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  z-index: 1;
  text-align: center;
}

.modal-content {
  padding: 20px; /* Increase the padding for more space */
}

/* Style the modal title and options */
.modal h2 {
  margin-top: 0;
  color: #333;
}

.modal label {
  display: flex;
  margin: 10px 0;
  font-weight: bold;
  align-items: center;
}

.modal input[type="number"],
.modal input[type="checkbox"] {
  margin: 5px 0;
  margin-left: 10px;
}

/* Style the Confirm button within the modal */
#optionsConfirm {
  background-color: hsl(360, 91%, 36%);
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

/* Style the Confirm button on hover */
#optionsConfirm:hover {
  background-color: #0056b3;
}

/* Add this CSS to style the checkboxes in a straight vertical line */
label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.btn {
  margin-top: 10px;
}

/* Additional styles for the modal container */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}