/* Box-sizing reset to include padding and border in element dimensions */
* {
  box-sizing: border-box;
}

/* Apply styles to both HTML and body elements */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* General styling for the entire body */
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
  /* Background image properties */
  background-image: url("../images/Japanese_Graphic_Design_ukiyoe_woodblock_prin.jpg");
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional - keeps background fixed while scrolling */
  /* Alt text for the background image (for accessibility) */
  alt: "Background image depicting Japanese graphic design ukiyoe woodblock print"; /* Alt text for the background image */
}


/* Styling for the content wrapper, centered vertically */
.wrapper {
  display: grid;
  place-items: center;
  height: 100%;
}

/* Styling for the page header */
header {
  text-align: center;
  padding: 20px;
  color: #f4f3ebe8; /* Change the text color to white or another color that contrasts with the background */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for better visibility */
  font-size: 36px; /* Adjust the size as needed */
}

/* Styling for the card containing password generation elements */
.card {
  background-color: rgba(208, 244, 233, 0.7); /* Adjust the alpha (last) value */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: #0f204e;
  font-size: 25px;
  padding: 30px;
  text-align: center;
  margin-bottom: 140px;
}

/* Styling for the password textarea */
textarea {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  background-color: #86c3b4c8; /* Adjust the alpha (last) value */
}

/* Styling for buttons (Generate Password and Copy Password) */
button {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
  line-height: 22px;
  margin: 16px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* Styling for disabled buttons */
button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

/* Styling for hovering on Generate Password and Copy Password buttons */
button#generate:hover, button#copy:hover {
  background-color: #0e2958; /* Change the background color on hover */
  color: hsl(0, 0%, 100%); /* Change the text color on hover */
}

/* Style the modal for password options */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  #f0f0f0; /* Change to your preferred background color */
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  z-index: 1;
  text-align: center;
}

/* Styling for the content within the modal */
.modal-content {
  padding: 20px; /* Increase the padding for more space */
}

/* Style the modal title and options */
.modal h2 {
  margin-top: 0;
  color: #333;
}

/* Styling for labels within the modal */
.modal label {
  display: flex;
  margin: 10px 0;
  font-weight: bold;
  align-items: center;
}

/* Styling for input elements (number and checkboxes) within the modal */
.modal input[type="number"],
.modal input[type="checkbox"] {
  margin: 5px 0;
  margin-left: 10px;
}

/* Styling for unchecked checkboxes */
input[type="checkbox"] {
  border: 2px solid #666; /* Border color */
  }

/* Styling for checked checkboxes */
input[type="checkbox"]:checked {
  border: 2px solid rgb(25, 120, 103); /* Change to your preferred color */
  background-color: rgb(46, 46, 138); /* Change to your preferred color */
}

/* Styling for range input */
input[type="range"] {
  /* Set the track color */
  background: #cccccc; /* Change to your preferred color */
}

/* Styling for the thumb (slider handle) in range input */
input[type="range"]::-webkit-slider-thumb {
  background: rgb(0, 255, 60); /* Change to your preferred color */
}


/* Style the Confirm button within the modal */
#optionsConfirm {
  background-color: hsl(360, 91%, 36%);
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

/* Style the Confirm button on hover */
#optionsConfirm:hover {
  background-color: #0e2958;
}

/* Styling for labels to display checkboxes in a vertical line */
label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* Styling for the close button within the modal */
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

/* Styling for the content within the modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.btn {
  margin-top: 10px;
}

/* Additional styles for the modal container */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}